.bubble {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

.bubble-text {
    color: #fff;
    font-weight: 700;
}

.invisible {
    visibility: hidden;
}